@media only screen and (min-width: 768px) {
  .first-view {
    height: 90vh;

    background-image: url("./images/mv-am.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div:nth-child(1) {
      margin: 6vw 3vw;

      img {
        width: 45vh;
        margin-bottom: 2vh;
      }

      h2 {
        font-size: 3vh;
      }

      h1 {
        font-size: 4vh;
      }

      a {
        font-size: 4vh;

        div {
          padding: 10px 20px;
          max-width: 80%;
          margin-top: 6vh;
        }
      }
    }

    div:nth-child(2) {
      margin: 44vh 3vw;
      width: 45vh;

      #play {
        width: 10vh;
      }

      h2 {
        font-size: 3vh;
      }
    }
  }

  .first-view-dark {
    background-image: url(./images/mv-pm.jpg);
  }
}
